<!--footer sec-->
<div class="footer-widgets widgets-area">
    <div class="contact-widget">
        <div class="container">
            <div class="row">
                <div class="contact col-md-3 col-xs-12 col-sm-12">
                    <a href="#" class="footer-logo">
                        <%=image_tag "logo-light.png"%>
                    </a>
                </div>
                <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-signs"></i>
                    <p>Address : Cargo Hub,</p>
                    <h4>NEWYORK 10012, USA</h4></div>
                <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-phone-call "></i>
                    <p>Toll Free Number :</p>
                    <h4>+44 567 890123 – 30</h4></div>
                <div class="contact col-md-3 col-xs-12 col-sm-12"><i class="flaticon-clock-1"></i>
                    <p>Opening Hours :</p>
                    <h4>MON – FRI: 8AM – 5PM</h4></div>
            </div>
        </div>
    </div>
</div>
<!--footer sec end-->

<!--copyright sec-->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-copyright col-md-12 col-sm-12 col-sx-12 text-center">
                <div class="site-info">Copyright @ 2018 GlobeTranz, All Right Reserved </div>
            </div>
        </div>
    </div>
</footer>
<!--copyright sec end-->
</div>
<!--End pagewrapper-->
