<section class="homecounts">
            <div class="container">
                <h2 class="count-title">GLOBE <span class="main-color">TRANZ</span> is a Global Supplier of Transport and logistics Solutions.</h2>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-lg-offset-2">
                        <div class="fh-counter icon-type-none">
                            <div class="counter">
                                <div class="value">9800</div>
                                <h4>Delivered Package</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="fh-counter icon-type-none">
                            <div class="counter">
                                <div class="value">230</div>
                                <h4>Office Wordwide</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="fh-counter icon-type-none">
                            <div class="counter">
                                <div class="value">1200</div>
                                <h4>Employees</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="fh-counter icon-type-none">
                            <div class="counter">
                                <div class="value">5200</div>
                                <h4>Tons of Goods</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
