<section class="special_services bluebg secpadd">
            <div class="container">
                <div class="row paddbtm40">
                    <div class="col-md-4 col-sm-12">
                        <div class="fh-section-title clearfix  text-left version-light">
                            <h2>Our Special SERVICES</h2>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="hdrgtpara lftredbrdr">
                            <p>Our warehousing services are known nationwide to be one of the most reliable, safe and affordable, because we take pride in delivering the best of warehousing services, at the most reasonable prices.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-open-cardboard-box"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Packaging And Storage</a></h4>
                            <div class="desc">
                                <p>Package and store your things effectively and securely to make sure them in storage.</p>
                            </div>
                        </div>
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-buildings"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Warehousing</a></h4>
                            <div class="desc">
                                <p>Package and store your things effectively and securely to make sure them in storage.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-transport-9"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Cargo</a></h4>
                            <div class="desc">
                                <p>Delivery of any freight from a place to another place quickly to save your cost and your time.</p>
                            </div>
                        </div>
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-transport-2"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Door to Door Delivery</a></h4>
                            <div class="desc">
                                <p>Our expertise in transport management and planning allows us to design a solution.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-international-delivery"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Worldwide Transport</a></h4>
                            <div class="desc">
                                <p>Specialises in international freight forwarding of merchandise and associated general logistic services.</p>
                            </div>
                        </div>
                        <div class="fh-service-box icon-type-theme_icon style-1">
                            <span class="fh-icon"><i class="flaticon-transport-1"></i></span>
                            <h4 class="service-title"><a href="#" class="link" target="_blank">Ground Transport</a></h4>
                            <div class="desc">
                                <p>Ground transportation options for all visitors, no matter your needs, schedule or destination.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>