<!--testimonials -->
<section class="testmonial-1">
    <div class="fh-testimonials-carousel fh-testimonials column-1">
        <div class="testi-list  single-slide">
            <div class="testi-wrapper" style="background-image:url(<%= asset_path 'testi-1.jpg'%>)">
                <div class="container">
                    <div class="testi-item">
                        <span class="testi-icon"><i class="flaticon-quotations"></i></span>
                        <div class="testi-content">
                            <div class="testi-star">
                                <i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                            </div>
                            <div class="testi-des">These guys are just the coolest company ever! They were aware of our transported for road and tail and well as complex transport services.</div>
                            <div class="info clearfix">
                                <span class="testi-name">Magdalena Donowan</span>
                                <span class="testi-job">CFD Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testi-wrapper" style="background-image:url(<%= asset_path 'testi-3.jpg'%>)">
                <div class="container">
                    <div class="testi-item">
                        <span class="testi-icon"><i class="flaticon-quotations "></i></span>
                        <div class="testi-content">
                            <div class="testi-star">
                                <i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                            </div>
                            <div class="testi-des">The shipping process with this crew was a pleasurable experience! They did all in time and with no safety incidents. Thank you so much guys!</div>
                            <div class="info clearfix">
                                <span class="testi-name">Emilia Crena</span>
                                <span class="testi-job">CEO, VIP Construction, Australia</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testi-wrapper" style="background-image:url(<%= asset_path 'testi-2.jpg'%>)">
                <div class="container">
                    <div class="testi-item">
                        <span class="testi-icon"><i class="flaticon-quotations "></i></span>
                        <div class="testi-content">
                            <div class="testi-star">
                                <i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                                <i class="fa fa-star fa-md"></i><i class="fa fa-star fa-md"></i>
                            </div>
                            <div class="testi-des">Their performance on our project was extremely successful. As a result of this collaboration, the project was built with exceptional quality &amp; delivered.</div>
                            <div class="info clearfix">
                                <span class="testi-name">Orlando E. Dougles</span>
                                <span class="testi-job">CEO, Green Valley Inc, London</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonilas-->

