<div id="topbar" class="topbar">
    <div class="container">

        <div class="topbar-left topbar-widgets text-left">
            <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
                <div class="office-location clearfix">
                    <ul class="topbar-office active">
                        <li><i class="flaticon-telephone" aria-hidden="true"></i>Phone +91 99009900123</li>
                        <li><i class="flaticon-web" aria-hidden="true"></i>contact@globetranz.com</li>
                        <li><i class="flaticon-pin" aria-hidden="true"></i>#528, Hebron Arcade, Padil, Mangalore - 560100</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="topbar-right topbar-widgets text-right">
            <div class="widget cargohub-social-links-widget">
                <div class="list-social style-1">
                    <a href="#" class="fh-btn btn" style="padding: 3px 34px; min-height: 16px; line-height: 30px; font-weight:bold;">TRACK YOUR SHIPMENT</a>
                </div>
            </div>
        </div>

    </div>
</div>
