<div id="topbar" class="topbar">
    <div class="container">

        <div class="topbar-left topbar-widgets text-left">
            <div id="cargo-office-location-widget-2" class="widget cargo-office-location-widget">
                <div class="office-location clearfix">
                    <div class="office-switcher"><i class="flaticon-globe "></i>
                        <a class="current-office" href="#">Newyork Office</a>
                        <ul>
                            <li class="active">Newyork Office</li>
                            <li>London Office</li>
                            <li>Tokyo Office</li>
                        </ul>
                    </div>
                    <ul class="topbar-office active">
                        <li><i class="flaticon-telephone" aria-hidden="true"></i>Phone +012 345 6789</li>
                        <li><i class="flaticon-web" aria-hidden="true"></i>Mail@CargoHub.com</li>
                        <li><i class="flaticon-pin" aria-hidden="true"></i>Cargo Hub, NY 10012, USA</li>
                    </ul>
                    <ul class="topbar-office">
                        <li><i class="flaticon-telephone" aria-hidden="true"></i>Phone +099 222 1111</li>
                        <li><i class="flaticon-web" aria-hidden="true"></i>Mail@Evanto.com</li>
                        <li><i class="flaticon-pin" aria-hidden="true"></i>Cargo Hub, LD 32614, UK</li>
                    </ul>
                    <ul class="topbar-office">
                        <li><i class="flaticon-telephone" aria-hidden="true"></i>Phone +098 765 4321</li>
                        <li><i class="flaticon-web" aria-hidden="true"></i>Mail@Steelthemes.com</li>
                        <li><i class="flaticon-pin" aria-hidden="true"></i>Cargo Hub, Tokyo 32614, Japan</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="topbar-right topbar-widgets text-right">
            <div class="widget cargohub-social-links-widget">
                <div class="list-social style-1">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-skype"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            <div class="widget cargo-search-widget">
                <div class="topbar-search topbar-search-1">
                    <a href="#" class="toggle-search" id="toggle-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <form class="search-form" action="#">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="search" class="search-field" placeholder="Search..." value="">
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>